html {
    scroll-behavior: smooth;
}

body {
    font-family: "Syne Mono";
    background: black;
    color: white;
    border: 2px solid black;
    position: relative;
    min-height: 20vh;
    margin: 0;
    padding-bottom: 10px;
    box-sizing: border-box;
}

body .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .35;
    width: 100%;
    height: 100%;
    background: #00343a url("header.jpg") center fixed;
    border: 2px solid black;
    position: fixed;
}

header {
    background-color: black;
    font-weight: bold;
}

.footer {

    background-color: black;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
}

.footer2 {

    background-color: black;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    padding: 12px 15px 26px;
    height: 30px;
}

h1 {
    padding: 5px;
}

ul {
    list-style: none;
}

hr {
    height: 2px;
    border-width: 0;
    color: lightgrey;
    background-color: lightgrey;
}

.red {
    background-color: #e74444;
    padding: 4px 12px;
}

.button {
    padding: 4px 12px;
}

.myButton {
    padding: 4px 12px;
    background-color: #a9a9a9;
}

.saveButton {
    padding: 4px 12px;
    background-color: #a9a9a9;
}

.myButton2 {
    padding: 4px 12px;
    background-color: #a9a9a9;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.button2 {
    color: black;
    padding: 7px 15px;
    background-color: lightgrey;
}

.revertLink {
    color: black;
    padding: 7px 14px;
    border: 1px solid #5f5d5d;
    background-color: #a9a9a9;
}

.same {
    padding-left: 30px;
    font-size: 19px;
    font-weight: bold
}

.word-break {
    word-break: break-all;
}

/*table, th, td {*/
/*    border: 1px solid white;*/
/*    border-collapse: collapse;*/
/*}*/

img {
    box-shadow: 4px 4px 27px 4px rgb(0, 0, 0);
    max-width: 550px;
    height: auto;
}