<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Shopping list Wolska</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne+Mono">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png" type="image/png" sizes="64x64">
</head>
<body class="d-flex flex-column min-vh-100">

<header>
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%"></td>
            <td style="width: 60%">
                <h1 style="text-align: center;">
                    <a href="/" style="color: white">SHOPPING LIST WOLSKA</a>
                </h1>
            </td>
            <td style="width: 20%; padding-right: 5px">
                <form style="text-align: right" method="post" action="/find">
                    <input type="submit" value="Find" id="find" onmouseover="over2(id)" onmouseout="out2(id)">
                    <input type="text" name="find" required>
                </form>
            </td>
        </tr>
    </table>
</header>

<div class="bg"></div>

<div class="container pt-3">

    <!--    <form method="post" action="/save2" enctype="multipart/form-data">-->
    <!--        <input type="file" name="file">-->
    <!--        <input type="submit" value="Save File">-->
    <!--    </form>-->

    <form method="post" th:object="${zakup}" th:action="@{/save}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{imgLink}">

        <div class="form-group col-10">
            <label for="name">Provide the name of item:</label>
            <input id="name" class="form-control" type="text" placeholder="Item"
                   th:field="*{name}" required maxlength="255">
        </div>
        <div class="form-group col-10">
            <label for="comment">Provide the comment (optional):</label>
            <input id="comment" class="form-control" type="text" placeholder="Comment"
                   th:field="*{comment}" maxlength="255">
        </div>
        <div class="form-group" style="padding-top: 5px; padding-bottom: 5px">
            <label for="check">Upload image (optional):</label>
            <input id="check" type="file" name="file" onchange="imageValidation()">
        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" id="exampleCheck1" type="checkbox" placeholder="sdffsd"
                       th:field="*{inProcess}">
                <label class="form-check-label" for="exampleCheck1">In progress</label>
                <input type="submit" th:value="${button}" class="saveButton" onmouseover="over1()" onmouseout="out1()"
                       id="b1">

                <span style="padding-left: 10px">
                    <a th:if="${update}" th:href="@{/revert(zakupId=${zakup.id})}" class="revertLink"
                       onmouseover="over11()"
                       onmouseout="out11()" id="b2">Revert</a>
                </span>

                <span style="padding-left: 10px">
                    <a th:href="@{/}" class="revertLink"
                       onmouseover="over33()"
                       onmouseout="out33()" id="b3">Clear</a>
                </span>

                <label class="same" th:text="${same}"></label>
            </div>
        </div>
    </form>

    <hr>
    <h1 th:text="${result}"></h1>
    <ul>
        <li th:each="zakup : ${zakupy}">
            <table style="width: 100%">
                <thead>
                <tr>
                    <th colspan="3" th:id="'place' + ${zakup.id}">

                        <h4 class="word-break" th:text="${zakup.name}"></h4>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3">
                        <span class="word-break" th:text="${zakup.comment}"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;padding-bottom: 10px">
                        <img th:if="${zakup.imgLink!=''}" th:src="'/images/'+${zakup.imgLink}">
                    </td>
                </tr>
                <tr>
                    <td style="width: 140px">
                        <form method="post" th:action="@{/in-progress(zakupId=${zakup.id})}">
                            <button type="submit" th:if="${zakup.inProcess}" class="red">In
                                Progress
                            </button>
                            <button type="submit" th:id="'but' + ${zakup.id}" th:if="${!zakup.inProcess}" class="myButton2"
                                    onmouseover="over2(id)"
                                    onmouseout="out2(id)">
                                In Progress
                            </button>

                        </form>
                    </td>
                    <td>
                        <form method="post" th:action="@{/update(zakupId=${zakup.id})}">
                            <button type="submit" th:id="'up' + ${zakup.id}" class="myButton2" onmouseover="over3(id)"
                                    onmouseout="out2(id)">
                                Update
                            </button>
                        </form>
                    </td>
                    <td style="text-align: right">
                        <form method="post" th:action="@{/delete(zakupId=${zakup.id})}">
                            <button type="submit" th:id="'d' + ${zakup.id}" class="myButton2" onmouseover="over2(id)"
                                    onmouseout="out2(id)"
                                    onclick="return confirm_delete()">
                                Done
                            </button>
                        </form>
                    </td>
                </tr>

                </tbody>
            </table>
            <hr>
        </li>
    </ul>
</div>

<footer class="footer">
    <a href="https://www.linkedin.com/in/vitaliyarkhanhelski/" style="color: white">Developed by Vitaliy
        Arkhanhelski</a>
</footer>

<footer class="footer2">
    <h6><a href="#" style="color: white">Go Up</a></h6>
</footer>

<a href="#" style="padding-left:73px; position: absolute;bottom: 0;"><img src="arrow.png" style="width: 17%;"></a>


<script src="js.js"></script>
</body>
</html>